/*
    place extra stylesheet here
*/
body {
    margin: 0;
}

.Page {
    display:none;
}

h2 {
    display: none;
}

.ImageContainer img {
    width: 100%;
    height: auto;
}
map {
    width: 100%;
    height: auto;
}

input {
    position: absolute;
    z-index: 9999;
    display: block;
    border: none;
    vertical-align: top;
}